<?xml version="1.0" encoding="UTF-8" ?>
<!-- MyBatis Mapper文件的DTD -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.crazyit.app.dao.PersonMapper">
	<select id="getPerson" resultMap="personMap">
		select * from person_inf where person_id=#{id}
	</select>
	<resultMap id="personMap" type="person">
		<id column="person_id" property="id"/>
		<result column="person_name" property="name"/>
		<result column="person_age" property="age"/>
		<!-- 使用select指定的select语句去抓取关联实体，
		当前实体的person_id列的值作为参数传给select语句 -->
		<association property="address" javaType="Address"
			column="person_id" select="org.crazyit.app.dao.AddressMapper.findAddressByOwner"
			fetchType="eager"/>
	</resultMap>

	<select id="findPersonById" resultMap="personMap">
		select * from person_inf where person_id>#{id}
	</select>
</mapper>