<?xml version="1.0" encoding="UTF-8" ?>
<!-- MyBatis Mapper文件的DTD -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.crazyit.app.dao.AddressMapper">
	<select id="getAddress" resultMap="addressMap">
		select a.*, p.*
		from address_inf a
		join person_address pa
		on a.addr_id = pa.address_id
		join person_inf p
		on pa.owner_id = p.person_id
		where addr_id=#{id}
	</select>
	<resultMap id="addressMap" type="address">
		<id column="addr_id" property="id"/>
		<result column="addr_detail" property="detail"/>
		<!-- 指定其他列（person_id, person_name, person_age）映射到关联的person实体，
		使用PersonMapper.personMap执行映射 -->
		<collection property="persons" javaType="ArrayList"
			ofType="person" resultMap="org.crazyit.app.dao.PersonMapper.personMap"/>
	</resultMap>
</mapper>