<?xml version="1.0" encoding="UTF-8" ?>
<!-- MyBatis Mapper文件的DTD -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.crazyit.app.dao.PersonMapper">
	<select id="getPerson" resultMap="personMap">
		select p.*, a.*
		from person_inf p
		join person_address pa
		on p.person_id = pa.owner_id
		join address_inf a
		on pa.address_id = a.addr_id
		where p.person_id=#{id}
	</select>
	<resultMap id="personMap" type="person">
		<id column="person_id" property="id"/>
		<result column="person_name" property="name"/>
		<result column="person_age" property="age"/>
		<!-- 指定其他列（addr_id, addr_detail）映射到关联的address实体，
		使用AddressMapper.addressMap执行映射 -->
		<collection property="addresses" javaType="ArrayList"
			ofType="address"
			resultMap="org.crazyit.app.dao.AddressMapper.addressMap"/>
	</resultMap>
	<select id="findPersonById" resultMap="personMap">
		select p.*, a.*
		from person_inf p
		join person_address pa
		on p.person_id = pa.owner_id
		join address_inf a
		on pa.address_id = a.addr_id
		where p.person_id>#{id}
	</select>
</mapper>