<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<typeAliases>
		<!-- 为org.crazyit.app.domain包下所有类指定别名 -->
		<package name="org.crazyit.app.domain"/>
	</typeAliases>
	<!-- default指定默认的数据库环境为mysql，引用其中一个environment元素的id -->
	<environments default="mysql">
		<!-- 配置名为mysql（该名字任意）的环境 -->
		<environment id="mysql">
			<!-- 配置事务管理器，JDBC代表使用了JDBC自带的事务提交和回滚 -->
			<transactionManager type="JDBC"/>
			<!-- dataSource配置数据源，此处使用MyBatis内置的数据源 -->
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver"/>
				<property name="url" value="jdbc:mysql://127.0.0.1:3306/mybatis_qhw?serverTimezone=UTC"/>
				<property name="username" value="root"/>
				<property name="password" value="admin"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<!-- 告诉MyBatis加载指定包下所有Mapper -->
		<package name="org.crazyit.app.dao"/>
	</mappers>
</configuration>
